<div class="row sticky mt-4" *ngIf="cocktail">
    <div class="row">
        <h1><b>{{ cocktail.strDrink }}</b></h1>
        <img class="cocktailImg img-fluid" src="{{ cocktail.strDrinkThumb }}" alt="cocktailImage">
        <hr class="my-5">
        <h3><b>Instructions</b></h3>
        <p>{{ cocktail.strInstructions }}</p>
        <hr class="my-5">
        <div>
            <h3 class="inline"><b>Ingredients</b></h3>
            <button 
                mat-raised-button 
                color="primary"
                class="btn inline mx-3 mb-3"
                (click)="onAddToShoppingList()">
                Add to shopping list
            </button>
            <ul class="list-group list-group-flush">
                <li class="list-group-item round-borders" *ngFor="let ingredient of cocktailIngredientsNames, let i = index">
                    {{ ingredient }}
                     -
                    {{ ingredientsMeasures[i] }}
                </li>
            </ul>
        </div>
    </div>    
</div>
