.expand{
    flex-basis: 40%;
    flex-grow: 1;
    flex-shrink: 1;
}

.fixed{
    max-width: 50%;
    //height: fit-content;
    //overflow: scroll;
}

.row{
    flex-wrap: nowrap;
    max-width: 100%;
}