<div class="row main-content">
    <div 
        class="fixed sidebar"
        stickySidebar
          [updateSticky]="updateSticky"
          containerSelector=".main-content"
          innerWrapperSelector=".sidebar__inner"
        *ngIf="showSelectedCocktail"
        >
        <div class="sidebar__inner">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="expand">
        <app-cocktail-list
            (cocktailChanged) = "onCocktailChanged($event)">
        </app-cocktail-list>
    </div>

</div>

