.right-column{
    flex-basis: 40%;
    flex-grow: 1;
    flex-shrink: 1;
}

.expand{
    margin-left: 60%;
}

.left-column{
    width: 50%;
    height: 100vh;
    overflow-y: scroll;
    position: fixed;
    left: 0;
}

.stick-to-top{
    transition: transform .5s;
    transform: translateY(-2rem);
}

.back-to-start{
    transition: all .5s;
    transform: translateY(0rem);
}

.left-column::-webkit-scrollbar {
    display: none;
  }

.row{
    flex-wrap: nowrap;
    max-width: 100%;
}