<div class="container">
    <div class="row mt-4 mx-auto half">
        <h1><b>Ingredients needed</b></h1>
        <div *ngIf="!isLoading && shoppingList.length > 0" class="my-3 col list-group list-group-flush">           
            <p>Toggle the ingredients to buy</p>
            <ul class="reset-padding">
                <li 
                    class="list-group-item flex border-radius" 
                    [ngClass]="{'text-disabled': ingredient.disabled}"
                    *ngFor="let ingredient of shoppingList, let i = index">
                    <mat-slide-toggle 
                        [checked]="!ingredient.disabled"
                        (change)="onDisableIngredient(i)">
                        <span class="margin-l">{{ ingredientNames[i] }}</span>
                    </mat-slide-toggle>
                    <mat-icon 
                        class="pos-right pointer" 
                        svgIcon="trash-can" 
                        aria-hidden="false" 
                        aria-label="SVG delete icon"
                        (click)="onDeleteIngredient(i)">
                    </mat-icon>
                </li>
            </ul>
            <div class="flex flex-gap-xs justify-content-center mt-3">
                <button 
                    mat-raised-button 
                    color="primary"
                    type="submit"
                    (click)="onToggleAll(true)">
                    Disable all
                </button>
                <button 
                    mat-raised-button 
                    color="accent"
                    type="submit"
                    (click)="onToggleAll(false)">
                    Toggle all
                </button>
                <button 
                    mat-stroked-button 
                    color="warn"
                    type="submit"
                    (click)="onDeleteAll()">
                    Delete all
                </button> 
            </div>       
        </div>
        <p *ngIf="!isLoading && !shoppingList.length && shoppingList != undefined" class="my-3">No ingredients to show, add at least one cocktail and come back!</p>
    </div>
</div>
<div class="row mt-4" *ngIf="isLoading">
    <div class="col">
        <mat-progress-spinner
            class="spinner"
            [color]="color"
            [diameter]="diameter"
            [mode]="mode"
            [value]="value">
        </mat-progress-spinner>
    </div> 
</div>
