.text-disabled{
    color: rgb(177, 175, 175);
}

.reset-padding{
    padding: 0;
}

.half{
    max-width: 50%;
}

.flex{
    display: flex;

    &-gap-xs{
        gap: .5rem;
    }
}

.justify-content-center{
    justify-content: center;
}

.margin-l{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pos-right{
    margin-left: auto;
}

.border-radius{
    border-radius: 20px;
}
