<div class="container">
    <h1 class="mt-4"><b>Favourite Cocktails</b></h1>
    <div *ngIf="!isLoading &&  favouriteCocktails.length > 0" class="row row-gap my-4">
        <div class="col-4" *ngFor="let cocktail of favouriteCocktails, let i = index">
            <mat-card class="card adjust-height">
                <mat-card-header>
                  <mat-card-title>{{ cocktail.strDrink }}</mat-card-title>
                  <mat-card-subtitle>{{ cocktail.strCategory }}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{cocktail.strDrinkThumb}}" alt="{{cocktail.strImageSource}}">
                <mat-card-content class="mb-5">
                  <p>
                    {{cocktail.strInstructions.length > 200 ? cocktail.strInstructions.substr(0,200) + " (...)" : cocktail.strInstructions}}
                  </p>
                </mat-card-content>
                <mat-card-actions class="stick-to-bottom">
                  <button mat-button (click)="onView(i)">VIEW</button>
                  <button mat-button (click)="onDelete(cocktail)">DELETE</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
    <div *ngIf="!isLoading && !favouriteCocktails.length" class="row">
        <p>Favourite one of our delicious cocktails!</p>
    </div>
</div>
<div class="row mt-4" *ngIf="isLoading">
  <div class="col">
      <mat-progress-spinner
          class="spinner"
          [color]="color"
          [diameter]="diameter"
          [mode]="mode"
          [value]="value">
    </mat-progress-spinner>
  </div> 
</div>
<div *ngIf="selectedCocktail != undefined" (click)="onClose($event)" class="modal-bg">
  <mat-card class="modal center-xy">
    <mat-card-header>
      <div mat-card-avatar class="modal-header-image">
        <img class="modal-header-image" src="{{ selectedCocktail.strDrinkThumb }}" alt="Photo of a cocktail">
      </div>
      <mat-card-title>{{ selectedCocktail.strDrink }}</mat-card-title>
      <mat-card-subtitle>{{ selectedCocktail.strCategory }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ selectedCocktail.strDrinkThumb }}" alt="Photo of a cocktail">
    <mat-card-content>
      <p class="my-4">
        {{ selectedCocktail.strInstructions }}
      </p>
      <mat-divider ></mat-divider>
      <div class="my-4" *ngIf="tagList.length > 0">
        <p class="mt-5"><b>Tags</b></p>
        <mat-chip-list
        class="example-chip"
        cdkDropList 
        cdkDropListOrientation="horizontal"       
        *ngIf="tagList.length > 0">
        <mat-chip
          class="example-box"
          cdkDrag
          *ngFor="let tag of tagList">
          {{ tag }}
        </mat-chip>
      </mat-chip-list>
      </div>      
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="onClose($event)">CLOSE</button>
    </mat-card-actions>
  </mat-card>
</div>
