/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-simple-snackbar-action{
    color: rgb(144, 144, 252);
}

.pointer{
    cursor: pointer;
}

.spinner{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
}

.center-xy{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
